


/*telefon*/
@media  (max-width: 768px) {
   tr, td, th {
    border: solid rgb(128, 146, 226) 5px;
    padding: 5px;
    
    border-radius: 25%;
    text-align: center;
    background-color: rgb(149, 163, 224);
 
  }
  table{
    border: solid rgb(128, 146, 226) 15px;
    padding: 15px;
    border-radius: 25px;
    width:100%;
  height:100%
    
  }
  body{
    background-color: rgb(209, 177, 240);
    font-size: 10px;
    background-image: linear-gradient( blue 10%, cyan 40%, rgb(16, 137, 141));
    color:white;
}
html{
  width:100%;
  height:100%}
#a {
  border: solid rgb(128, 146, 226) 5px;
  text-align: center;
  width: 25%;
  height: 25px;
  margin: auto;
  margin-bottom: 10px;
  font-size: 10px;
  padding: 10px;
  border-radius: 25px;
  background-color: rgb(149, 163, 224);

}
}

/*laptop*/
@media  (max-width: 1024px) and (min-width: 769px) {
   tr, td, th {
    border: solid rgb(128, 146, 226) 7px;
    padding: 5px;
    border-radius: 25%;
    
    text-align: center;
    background-color: rgb(149, 163, 224);
  }
  table{
    border: solid rgb(128, 146, 226) 15px;
    padding: 15px;
    border-radius: 25px;
  }
  body{
    background-color: rgb(209, 177, 240);
    font-size: 10px;
    background-image: linear-gradient( blue 10%, cyan 40%, rgb(16, 137, 141));
    color:white;
}
html{
  width:100%;
  height:100%}
#a {
  border: solid rgb(128, 146, 226) 5px;
  text-align: center;
  width: 25%;
  height: 50px;
  margin: auto;
  margin-bottom: 10px;
  font-size: 25px;
  padding: 10px;
  border-radius: 25px;
  background-color: rgb(149, 163, 224);

}
}
/*pc*/
@media (min-width: 1025px) {
   tr, td, th {
    border: solid rgb(128, 146, 226) 10px;
    padding: 15px;
    
    background-color: rgb(149, 163, 224);
    border-radius: 25%;
    text-align: center;
  }
  table{
    border: solid rgb(128, 146, 226) 15px;
    padding: 15px;
    border-radius: 25px;
  }
  body{
    
    font-size: 20px;
    background-image: linear-gradient( blue 10%, cyan 40%, rgb(16, 137, 141));
color:white;

  }
html{
  width:100%;
  height:100%
  
}
#a {
  border: solid rgb(128, 146, 226) 5px;
  text-align: center;
  width: 25%;
  height: 50px;
  margin: auto;
  margin-bottom: 10px;
  font-size: 30px;
  padding: 10px;
  border-radius: 25px;
  background-color: rgb(149, 163, 224);
}
}

