


/*telefon*/
@media  (max-width: 768px) {
  table, tr, td {
    border: solid blue 5px;
    padding: 15px;
  }
  body{
    background-color: rgb(209, 177, 240);
    font-size: 10px;
  
}
#a {
  border: solid blue 5px;
  text-align: center;
  width: 25%;
  height: 25px;
  margin: auto;
  margin-bottom: 10px;
  font-size: 10px;
  padding: 10px;

}
}

/*laptop*/
@media  (max-width: 1024px) and (min-width: 769px) {
  table, tr, td {
    border: solid rgb(206, 121, 10) 20px;
    padding: 10px;
  }
  body{
    background-color: rgb(209, 177, 240);
    font-size: 10px;
    
}
#a {
  border: solid rgb(206, 121, 10) 5px;
  text-align: center;
  width: 25%;
  height: 50px;
  margin: auto;
  margin-bottom: 10px;
  font-size: 25px;
  padding: 10px;
}
}
/*pc*/
@media (min-width: 1025px) {
  table, tr, td {
    border: solid blueviolet 20px;
    padding: 15px;
  }
  body{
    background-color: rgb(209, 177, 240);
    font-size: 20px;
  
}
#a {
  border: solid blueviolet 5px;
  text-align: center;
  width: 25%;
  height: 50px;
  margin: auto;
  margin-bottom: 10px;
  font-size: 30px;
  padding: 10px;

}
}

